# Project 3, Part 2, Queries on the stations, lines, and travel times tables for the BART system that we will use later to create the graph

University of California, Berkeley

Master of Information and Data Science (MIDS) program

w205 - Fundamentals of Data Engineering

# Included Modules and Packages

Code cell containing your includes for modules and packages

Some starter code is provided

You may change the starter code as needed

You may add as much code and/or as many code cells as you need

In [ ]:
import csv

import math
import numpy as np
import pandas as pd

import psycopg2

# Supporting code

Code cells containing any supporting code, such as connecting to the database, any functions, etc.  

Remember you can freely use any code from the labs. You do not need to cite code from the labs.

Some starter code is provided

You may change the starter code as needed

You may add as much code and/or as many code cells as you need

In [ ]:
#
# function to run a select query and return rows in a pandas dataframe
# pandas puts all numeric values from postgres to float
# if it will fit in an integer, change it to integer
#

def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

In [ ]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [ ]:
cursor = connection.cursor()

# 3.2.1 Query the list of stations

Show the station from the stations table

Sort by station

The query should return 50 rows

Display the results in a Pandas data frame

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace this with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

# 3.2.2 Query the lines served by the West Oakland station

The West Oakland station should serve the 4 following lines:

|station|line|
|-------|----|
|West Oakland|blue|
|West Oakland|green|
|West Oakland|red|
|West Oakland|yellow|

Show the station and line from the lines table where the station is West Oakland

Sort by station, line

Display the results in a Pandas data frame

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace this with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

# 3.2.3 Query the list of stations and the lines they serve

Same query as the last one, but for all stations, not just limited to West Oakland

There should be 114 row returned

Display the results in a Pandas data frame

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace this with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

# 3.2.4 Query the list of all possible line transfers at the West Oakland station and the transfer times

A transfer is when two or more lines pass through a station and the passenger gets off one line and gets on another line.

At West Oakland, there are 12 possible transfers:

|station|from_line|to_line|transfer_time|
|-------|---------|-------|-------------|
|West Oakland|blue|green|283|
|West Oakland|blue|red|283|
|West Oakland|blue|yellow|283|
|West Oakland|green|blue|283|
|West Oakland|green|red|283|
|West Oakland|green|yellow|283|
|West Oakland|red|blue|283|
|West Oakland|red|green|283|
|West Oakland|red|yellow|283|
|West Oakland|yellow|blue|283|
|West Oakland|yellow|green|283|
|West Oakland|yellow|red|283|

Show the station, from line, to line, transfer time in seconds where the station is West Oakland

Sort by station, from line, to line

Hints:

Join the lines table to itself where the station is the same, but the lines are different

Then join to the stations table to pull the transfer time

Display the results in a Pandas data frame

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace this with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

# 3.2.5 Query the list of all possible line transfers and the transfer times

Same query as the last query, but all stations, not just limited to West Oakland

The query should return 208 rows

Display the results in a Pandas data frame

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace this with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

# 3.2.6 Query the list of all segments between the West Oakland station and its adjoining stations


West Oakland has the following 8 segments between it and the stations it adjoins:

|line|from station|to station|travel time in seconds|
|----|------------|----------|----------------------|
|blue|Lake Merritt|West Oakland|360|
|blue|West Oakland|Embarcadero|420|
|green|Lake Merritt|West Oakland|360|
|green|West Oakland|Embarcadero|420|
|red|12th Street|West Oakland|300|
|red|West Oakland|Embarcadero|420|
|yellow|12th Street|West Oakland|300|
|yellow|West Oakland|Embarcadero|420|

Show the line, from station, to station, travel time in seconds

Sort by line, from station, to station

Note: Since the lines table is only showing one way for each line, we will only get one way in this query.  This is fine.  Later when we build the graph, we will simply create the relationships going both ways.

Hints:

Join lines to itself where the line is the same and the sequence is equal to the sequence + 1

Then join to the travel_times table matching stations and pulling the travel time (note that the stations may be in either order in the travel_times table)

Display the results in a Pandas data frame

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace this with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

# 3.2.7 Query the list of all segments between each station and its adjoining stations

Same query as the last query, but for all stations, not limited to West Oakland.

The query should return 108 rows

Display the results in a Pandas data frame

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace this with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)