In [1]:
# Imports

import numpy as np
import pandas as pd

## Historical Stock Price Data Cleansing

In [141]:
# Read in data

stock_df = pd.read_csv("/Users/johngalvin/Desktop/GitHub/Project2_Fram_Galvin_Bradford/data/raw/HistoricalStockPriceData.csv")

/Users/johngalvin/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [142]:
# Examine

stock_df.head()

,Ticker,Class,Full BBG Ticker,Date Show Flag,Start Date,End Date,Unnamed: 6,10/1/2018,10/2/2018,10/3/2018,...,12/17/2019,12/18/2019,12/19/2019,12/20/2019,12/23/2019,12/24/2019,12/26/2019,12/27/2019,12/30/2019,12/31/2019
0,A,US Equity,A US Equity,H,#REF!,#REF!,NaN,#NAME?,71.68,72.12,...,83.95,83.43,84.51,85.19,85.26,85.3,85.45,85.42,84.9,85.31
1,AACH,US Equity,AACH US Equity,H,#REF!,#REF!,NaN,#NAME?,6.90,7.32,...,0.65,0.67,0.65,0.64,0.62,0.60,0.55,0.52,0.54,NaN
2,AAL,US Equity,AAL US Equity,H,#REF!,#REF!,NaN,#NAME?,38.5,38.8,...,28.28,28,28.55,29.04,29.3,29.18,29.67,28.44,28.3,28.68
3,AAOI,US Equity,AAOI US Equity,H,#REF!,#REF!,NaN,#NAME?,23.36,24.91,...,11.24,11.18,11.3,11.12,11.15,11.12,11.61,11.52,11.61,11.88
4,AAP,US Equity,AAP US Equity,H,#REF!,#REF!,NaN,#NAME?,168.4,167.6,...,157.98,158.03,156.48,158.12,159.97,160.57,159.27,158.35,159.12,160.16

In [143]:
# Drop unnecessary columns

stock_df.drop(["Class", "Full BBG Ticker", "Date Show Flag", "Start Date", "End Date", "Unnamed: 6"], axis=1, inplace=True)

In [144]:
# Transpose the table (swap columns and rows)

stock_df = stock_df.T

In [145]:
# Set columns as first row (ticker labels)

header = stock_df.iloc[0]
stock_df.columns = header
stock_df.rename(columns=stock_df.iloc[0])
stock_df = stock_df.iloc[1:]

In [146]:
# Remove 10/1/2018 record as all are undefined

stock_df = stock_df.iloc[1:]

In [147]:
# Make the index datetime

stock_df.index = pd.to_datetime(stock_df.index)

In [148]:
# Remove all "," from cells

stock_df = stock_df.replace({",": ""}, regex=True)

In [149]:
# Recast all str values as float

stock_df = stock_df.astype(float)

In [150]:
# Count NaN values

stock_df.isnull().sum().sum()

26743

In [160]:
# Impute NaN values with column-wise median
# Opt for not using KNN because that requires distance-based metrics and standardization of all values

stock_df.fillna(stock_df.median, axis=1, inplace=True)

In [174]:
# Rename index

stock_df.index.rename("Date", inplace=True)

In [175]:
# Write dataframe out to csv

stock_df.to_csv("/Users/johngalvin/Desktop/GitHub/Project2_Fram_Galvin_Bradford/data/processed/historical_stock_clean.csv", index=True)

## Insider Transaction Data Cleansing

In [31]:
# Read in data

insider_df = pd.read_csv("/Users/johngalvin/Desktop/GitHub/Project2_Fram_Galvin_Bradford/data/raw/Insidertxns.csv")

In [32]:
# Examine

insider_df.head()

,Exchange,Symbol,Company,Currency,Price,Insider Name,Insider Position,Date,Buy/Sell,Insider Trading Shares,Shares Change,Price.1,Cost(000),Final Share,Price Change Since Insider Trade (%),Dividend Yield %,PE Ratio,Market Cap ($M)
0,NAS,ALXN,Alexion Pharmaceuticals Inc,$,182.50,HANTSON LUDWIG,CEO,2018-12-31,S,3244,-2.11,95.85,310.937,150696,90.40,0.00,59.16,40336.009
1,NYSE,CSR,Centerspace,$,101.38,TWINEM MARY J,Director,2018-12-31,P,1025,124.09,48.43,49.6408,1851,109.33,2.76,At Loss,1447.760
2,NAS,AXAS,Abraxas Petroleum Corp,$,1.26,Clarke Tod A,Vice President - Land,2018-12-31,P,9028,7.08,1.06,9.56968,6826.45,18.87,0.00,At Loss,10.612
3,NYSE,CSR,Centerspace,$,101.38,Dance Michael T,Director,2018-12-31,P,1000,20.54,47.32,47.32,5869,114.24,2.76,At Loss,1447.760
4,NYSE,CSR,Centerspace,$,101.38,Dance Michael T,Director,2018-12-31,P,1000,20.54,47.32,47.32,5869,114.24,2.76,At Loss,1447.760

In [33]:
# Drop unnecessary columns

insider_df.drop(["Exchange", "Currency", "PE Ratio", "Cost(000)", "Final Share", "Market Cap ($M)"], axis=1, inplace=True)

In [34]:
# Make the index datetime and get rid of extra Date column

insider_df.index = pd.to_datetime(insider_df["Date"])
insider_df.drop("Date", axis=1, inplace=True)

In [35]:
insider_df.head()

,Symbol,Company,Price,Insider Name,Insider Position,Buy/Sell,Insider Trading Shares,Shares Change,Price.1,Price Change Since Insider Trade (%),Dividend Yield %
Date,,,,,,,,,,,
2018-12-31,ALXN,Alexion Pharmaceuticals Inc,182.50,HANTSON LUDWIG,CEO,S,3244,-2.11,95.85,90.40,0.00
2018-12-31,CSR,Centerspace,101.38,TWINEM MARY J,Director,P,1025,124.09,48.43,109.33,2.76
2018-12-31,AXAS,Abraxas Petroleum Corp,1.26,Clarke Tod A,Vice President - Land,P,9028,7.08,1.06,18.87,0.00
2018-12-31,CSR,Centerspace,101.38,Dance Michael T,Director,P,1000,20.54,47.32,114.24,2.76
2018-12-31,CSR,Centerspace,101.38,Dance Michael T,Director,P,1000,20.54,47.32,114.24,2.76

In [36]:
# Recast all appropriate columns as float or int

insider_df["Price"] = insider_df["Price"].astype(float)
insider_df["Insider Trading Shares"] = insider_df["Price"].astype(int)
insider_df["Shares Change"] = insider_df["Shares Change"].astype(float)
insider_df["Price.1"] = insider_df["Price.1"].astype(float)
insider_df["Price Change Since Insider Trade (%)"] = insider_df["Price Change Since Insider Trade (%)"].astype(float)
insider_df["Dividend Yield %"] = insider_df["Dividend Yield %"].astype(float)

In [37]:
insider_df.head()

,Symbol,Company,Price,Insider Name,Insider Position,Buy/Sell,Insider Trading Shares,Shares Change,Price.1,Price Change Since Insider Trade (%),Dividend Yield %
Date,,,,,,,,,,,
2018-12-31,ALXN,Alexion Pharmaceuticals Inc,182.50,HANTSON LUDWIG,CEO,S,182,-2.11,95.85,90.40,0.00
2018-12-31,CSR,Centerspace,101.38,TWINEM MARY J,Director,P,101,124.09,48.43,109.33,2.76
2018-12-31,AXAS,Abraxas Petroleum Corp,1.26,Clarke Tod A,Vice President - Land,P,1,7.08,1.06,18.87,0.00
2018-12-31,CSR,Centerspace,101.38,Dance Michael T,Director,P,101,20.54,47.32,114.24,2.76
2018-12-31,CSR,Centerspace,101.38,Dance Michael T,Director,P,101,20.54,47.32,114.24,2.76

In [38]:
# Check for NaN - okay that price change Position have NaN - may not need those columns

insider_df.isna().sum()

Symbol                                   0
Company                                  0
Price                                    0
Insider Name                             0
Insider Position                        66
Buy/Sell                                 0
Insider Trading Shares                   0
Shares Change                            0
Price.1                                  0
Price Change Since Insider Trade (%)     7
Dividend Yield %                         0
dtype: int64

In [39]:
insider_df.describe()

,Price,Insider Trading Shares,Shares Change,Price.1,Price Change Since Insider Trade (%),Dividend Yield %
count,10106.000000,10106.000000,10106.000000,1.010600e+04,10099.000000,10106.000000
mean,126.362126,125.881753,52.669138,9.108100e+02,149.697184,1.117932
std,4216.718056,4216.723109,4975.735119,8.332467e+04,2243.891267,2.250296
min,0.000000,0.000000,-100.000000,1.000000e-02,-100.000000,0.000000
25%,9.706250,9.000000,-10.467500,8.622500e+00,-15.405000,0.000000
50%,30.910000,30.000000,-0.940000,2.285500e+01,27.280000,0.000000
75%,84.190000,84.000000,2.625000,6.008000e+01,111.925000,1.510000
max,423374.000000,423374.000000,500000.000000,8.375000e+06,192614.280000,43.120000

In [40]:
# Write data frame to csv

insider_df.to_csv("/Users/johngalvin/Desktop/GitHub/Project2_Fram_Galvin_Bradford/data/processed/insider_txns_clean.csv", index=True)